In [1]:
#Importamos librerias necesarias

import numpy as np # Usaremos sus funciones númericas
import pandas as pd # Para trabajar el DataFrame

In [2]:
# Creamos los DataFrames
movies_df = pd.read_csv('dataset\movies_dataset.csv')
credits_df = pd.read_csv('dataset\credits.csv')

C:\Users\PABLO\AppData\Local\Temp\ipykernel_11172\3257095366.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('dataset\movies_dataset.csv')

In [3]:
#Chequeamos el forma  del dataframe movies
print('La forma de movies_df es : ', movies_df.shape)

La forma de movies_df es :  (45466, 24)

In [4]:
movies_df.columns # para ver las columnas que contiene

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
movies_df.head(2) # Podemos observar en las columnas 'belongs_to_collection' ,'genres' y 'spoken_languages' estan anidadas

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [6]:
# Chequeamos la forma del dataframe creditos
print("la forma de creditos es : ", credits_df.shape)

la forma de creditos es :  (45476, 3)

In [7]:
credits_df.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [8]:
credits_df.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [9]:
movies_df.isnull().sum() # chequeamos la cantidad de nulos en movies_df

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [10]:
# Eliminamos los nulos en las columnas 'popularity','vote_average','vote_count'
movies_df = movies_df.dropna(subset=['popularity','vote_average','vote_count'])
movies_df.shape

(45460, 24)

In [11]:
# controlamos los nulos en el DataFrame Creditos
credits_df.isna().sum()

cast    0
crew    0
id      0
dtype: int64

In [12]:
# chequeamos los tipos de datos que hay en las columnas
credits_df.dtypes

cast    object
crew    object
id       int64
dtype: object

In [13]:
#al igual con movies
movies_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [14]:
# Convertimos el id al mismo tipo en los dos dataframes  
movies_df['id']=movies_df['id'].astype('Int64')

In [15]:
# procedemos a unir los dos dataframes para trabajar con uno solo, la union por medio del id de peliculas compartido
movies_df = movies_df.merge(credits_df,on='id')
movies_df.shape

(45535, 26)

## a partir de aqui es un solo Dataframe

In [16]:
pd.set_option('display.max_columns',None) # para ver todas las columnas
movies_df.head(2) # para ver nuestro DataFrame unido

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

## * Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

In [17]:
import ast

In [18]:
#Con la siguiente funcion recorreremos dentro de cada fila y asi desanidar
def get_collection(x):
  x = ast.literal_eval(x) #convierte de str a diccionario
  return x['name']

In [19]:
# aplicamos a la columna belongs_to_collection
for i in range( len(movies_df)):
    if pd.isnull(movies_df.loc[i,'belongs_to_collection']):
        pass
    else:
        movies_df.loc[i,'belongs_to_collection']=get_collection(movies_df.loc[i,'belongs_to_collection'])

In [20]:
# Con esta funcion desanidaremos production_companies
def get_genre(x):
  x = x.replace("[", "")  # sacamos los corchetes para no tenes una lista y asi usar el modulo ast 
  x = x.replace("]", "")
  x = ast.literal_eval(x)
  z = []
  # Aqui sera en el caso de que contenga mas de un genero sera una tupla , y si no sera un diccionario para lo cual hay que distinguir
  if type(x) == dict:
    z.append(x['name'])
  else:
    for i in range(len(x)):
      z.append(x[i]['name'])
  strz = "" #esto es para transformarlo una vez más en cadena y poder reemplazar
  for j in range(len(z)):
    strz += z[j] + ", "
  return strz[:-2]

In [21]:
# Desanidar datos de 'credits.csv'
columnas_a_desanidar = ['cast', 'crew', 'id']
# Reemplazar NaN por strings vacíos
movies_df[columnas_a_desanidar] = movies_df[columnas_a_desanidar].fillna('')
# Función para evaluar los valores de la columna
def evaluate_value(value):
    try:
        return ast.literal_eval(value)
    except (SyntaxError, ValueError):
        return value
# Iterar columnas y aplicar función de evaluación
for column in columnas_a_desanidar:
    movies_df[column] = movies_df[column].apply(evaluate_value)

In [22]:
#aplicando la funcion en 'genres'
for i in range(len(movies_df)):
  if movies_df.loc[i,'genres'] == "[]":
    pass
  else:
    movies_df.loc[i,'genres'] = get_genre(movies_df.loc[i,'genres'])

In [23]:
# desanidamos otras columnas como ser cast, 'production_companies', y spoken_languages
desanidar = ('production_companies', 'spoken_languages','production_countries')

for columna in desanidar:
    for i in range(len(columna)):
        if movies_df.loc[i,columna] == "[]":
            pass
        else:
            movies_df.loc[i,columna] = get_genre(movies_df.loc[i,columna])

In [24]:
movies_df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,Toy Story Collection,30000000,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."

## *Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

In [25]:
movies_df['revenue'].fillna(0, inplace=True)
movies_df['budget'].fillna(0, inplace=True)

## * Los valores nulos del campo release date deben eliminarse.

In [26]:
movies_df.dropna(subset=['release_date'], inplace=True)

## * De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [27]:
# Convertir filas de "release_year" al formato deseado, y eliminar las filas con valores inválidos.
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], format='%Y-%m-%d', errors='coerce')
movies_df = movies_df[movies_df['release_date'].notna()]

# Crear la columna 'release_year'
movies_df['release_year'] = movies_df['release_date'].dt.year

# Chequeamos cambios
movies_df[['release_date', 'release_year']].head(1)

  release_date  release_year
0   1995-10-30          1995

## * Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [28]:
# Convertir columnas "revenue" y "budget" a numéricas

movies_df['revenue'] = pd.to_numeric(movies_df['revenue'], errors='coerce')
movies_df['budget'] = pd.to_numeric(movies_df['budget'], errors='coerce')

# Calcular el retorno de inversión como "return"

movies_df['return'] = movies_df['revenue'] / movies_df['budget']
movies_df['return'].fillna(0, inplace=True)

# Chequeamos cambios

movies_df['return'].head()

0    12.451801
1     4.043035
2     0.000000
3     5.090760
4          inf
Name: return, dtype: float64

## * Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [29]:
# Procedemos a eliminar las columnas 
columns_to_drop = ["video", "imdb_id", "adult", "original_title", "poster_path", "homepage"]
movies_df.drop(columns=columns_to_drop, inplace=True)

In [30]:
# Controlamos las columnas que nos quedaron
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45451 entries, 0 to 45534
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4497 non-null   object
 1   budget                 45451 non-null  int64
 2   genres                 45451 non-null  object
 3   id                     45451 non-null  int64
 4   original_language      45440 non-null  object
 5   overview               44510 non-null  object
 6   popularity             45451 non-null  object
 7   production_companies   45451 non-null  object
 8   production_countries   45451 non-null  object
 9   release_date           45451 non-null  datetime64[ns]
 10  revenue                45451 non-null  float64
 11  runtime                45205 non-null  float64
 12  spoken_languages       45451 non-null  object
 13  status                 45371 non-null  object
 14  tagline                20425 non-null  object
 15  title                  45451 non-null  object
 16  vote_average           45451 non-null  float64
 17  vote_count             45451 non-null  float64
 18  cast                   45451 non-null  object
 19  crew                   45451 non-null  object
 20  release_year           45451 non-null  int64
 21  return                 45451 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(13)
memory usage: 8.0+ MB

## Funcion para extraer y crear columna Director

In [31]:
import pandas as pd
import re

patron = r"'Director', 'name': '(,*?)', "

def extraer_nombres_director(valor):
    if isinstance(valor, list):
        nombres_director = []
        for diccionario in valor:
            if diccionario.get("job") == "Director":
                nombres_director.append(diccionario.get("name"))
        return nombres_director
    else:
        resultado = re.findall(patron, valor)
        if resultado:
            return resultado
        else:
            return ""


# Aplicar la función para extraer el nombre del director
movies_df["director"] = movies_df["crew"].apply(extraer_nombres_director)

# Imprimir la columna "director"
print(movies_df["director"])

0           [John Lasseter]
1            [Joe Johnston]
2           [Howard Deutch]
3         [Forest Whitaker]
4           [Charles Shyer]
                ...
45529          [John Irvin]
45531            [Lav Diaz]
45532      [Mark L. Lester]
45533    [Yakov Protazanov]
45534       [Daisy Asquith]
Name: director, Length: 45451, dtype: object

In [32]:
movies_df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year,return,director
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,12.451801,[John Lasseter]
1,NaN,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,4.043035,[Joe Johnston]

In [33]:
#Elimino Cast y Crew
columnas_a_eliminar = ['cast','crew']
movies_df.drop(columns=columnas_a_eliminar , inplace=True)

In [34]:
movies_df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,director
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,[John Lasseter]
1,NaN,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,[Joe Johnston]

In [35]:
movies_df.to_csv('movies_df_etl.csv',index=False)